# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Upstash Redis
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Email Configuration (Resend)
RESEND_API_KEY=""
EMAIL_FROM="onboarding@resend.dev"
APP_URL="http://localhost:3000"

# Supabase Service Role Key
SUPABASE_SERVICE_ROLE_KEY=""
